
.outer-box {
    min-height: 600px;
    width: 100%;
    border: black solid 2px;
    display:inline-flex
   
}

.inner-left p {
    padding:10px;
}

.inner-left {
    min-height: 600px;
    width: 20%;
    border: black solid 1px;
    text-align: center;
}


.inner-right {
    min-height: 600px;
    width: 80%;
    text-align: left;
    padding-left:20px ;
}

.circle {
    height: 250px;
    width: 250px;
    border-radius: 75%;
    border: black solid 3px;
    text-align: center;
    display: inline-block;
    margin-top: 20;
}


.picture {
    height: 150;
    object-fit: cover;
    width: 150;
    border-radius: 75px;
}
.img-style {
    object-fit: cover;
    width: 300px
}
.outer-container{
    
   display: flex;
   flex-direction: column;
   align-items: center;
    
}

