<title style="color: blue;">home.html</title>
<style></style>

</style>
</head>

<body>
  <P>Hello</P>
  <b>Hello</b>

  <style>
    .dot {
      height: 500;
      width: 500;
      background-color: rgb(250, 3, 3);
      border-radius: 50%;
      display: inline-block;
    }
  </style>
  </head>

  <body>

    <div style="text-align:center">
      <h1>Round Dots / Circles</h1>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>







































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































  </Body>

  </html>